body {
    background: #C6A3FF !important;
}
.header {
    position: absolute;
    display: flex;
    /* justify-content: center; */
    background-color: #A393C7;
    height: 100px;
    width: 100%;
}
.title {
    align-items: center;
    display: flex;
    width: auto;
    color: white;
    font-size: 28px;
}
.name {
    display: flex;
    justify-content: center;
}



.cards {
    position: relative;
    top: 130px;
    background-color: #D4BFFF;
    height: 28vh;
    width: 96%;
    border: 3px solid #ffffff;
    border-radius: 15px;
    left: 20px;
    color: #635B9A;
}
.mer_title {
    align-items: center;
    display: flex;
    position: relative;
    font-size: 28px;
}
.mesto {
    position: relative;
    top: 5px;
    padding-left: 10px;
    font-size: 24px;
    padding-bottom: 20px;
}
.opiss {
    /* height: auto; */
    border-radius: 5px;
    height: 100px;
    width: 100%;
    background-color: #E7E4F6;
}
.opii {
    font-size: 24px;
    padding-left: 5px;
}
.time {
    position: relative;
    font-size: 24px;
}
.timme {
    padding-right: 2px;
    display: flex;
    justify-content: right;
}